{% extends "Manage/base.html" %}
{%load static%}
{%block title%}
<title>Friend of Farmer | Chính sách riêng tư</title>
{% endblock title%}
{% block head %}
  <link rel="stylesheet" href="{% static 'Manage/CSS/dksd.css' %}">
{% endblock head %}



{%block content_csrt%}
<section>
    <div class ="dksd_container container">
        <div class = "dksd_container container_top">
            <div class ="topText">
                <div class="txt_headingTxt"> 
                    <p class = "spe">Chính sách riêng tư </p>
                    <ol>
                        <li class="txt_subHeadingTxt">Thu thập thông tin cá nhân
                            <p class="txt_content">
                                Trang web thu thập thông tin cá nhân của bạn như tên, địa chỉ email, địa chỉ IP, và thông tin về trình duyệt và thiết bị bạn sử dụng.
                            </p>
                            <p class="txt_content">
                                Thông tin này có thể được thu thập khi bạn đăng ký tài khoản, đăng ký bản tin hoặc tham gia các khảo sát.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Sử dụng thông tin cá nhân
                            <p class="txt_content">
                                Thông tin cá nhân của bạn có thể được sử dụng để cung cấp dịch vụ, quản lý tài khoản của bạn, và gửi thông tin quảng cáo hoặc tiếp thị đến bạn.
                            </p>
                            <p class="txt_content">
                                Trang web cam kết không bán hoặc chia sẻ thông tin cá nhân của bạn với bên thứ ba mà không có sự đồng ý của bạn.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Bảo mật thông tin cá nhân
                            <p class="txt_content">
                                Trang web sử dụng các biện pháp bảo mật để bảo vệ thông tin cá nhân của bạn khỏi mất mát, truy cập trái phép, sử dụng, tiết lộ, hoặc sửa đổi.
                            </p>
                            <p class="txt_content">
                                Thông tin cá nhân của bạn được lưu trữ trên các máy chủ an toàn và chỉ được truy cập bởi những người có quyền truy cập đặc biệt.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Cookie và công nghệ theo dõi
                            <p class="txt_content">
                                Trang web sử dụng cookie và các công nghệ theo dõi để thu thập thông tin về cách bạn truy cập và sử dụng trang web.
                            </p>
                            <p class="txt_content">
                                Các cookie được sử dụng để cung cấp trải nghiệm truy cập tốt hơn cho bạn, như lưu trữ thông tin đăng nhập hoặc lưu trữ cài đặt trên trình duyệt của bạn.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Quyền truy cập và chỉnh sửa thông tin cá nhân
                            <p class="txt_content">
                                Bạn có quyền truy cập, cập nhật, và chỉnh sửa thông tin cá nhân của mình từ tài khoản của mình.
                            </p>
                            <p class="txt_content">
                                Nếu bạn muốn hủy bỏ hoặc xóa tài khoản, bạn có thể liên hệ với trang web để yêu cầu.
                            </p>
                        </li>
                        
                        
                        <li class="txt_subHeadingTxt">Liên kết đến trang web của bên thứ ba
                            <p class="txt_content">
                                Trang web có thể chứa liên kết đến các trang web bên thứ ba. Trang web không chịu trách nhiệm về nội dung hoặc chính sách bảo mật của các trang web này.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Thay đổi điều khoản
                            <p class="txt_content">
                                Trang web có quyền thay đổi hoặc cập nhật chính sách riêng tư này. Mọi thay đổi sẽ được thông báo trên trang web.
                            </p>
                            
                        </li>
                            
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
</section>

{%endblock content_csrt%}