{% extends "Manage/base.html" %}
{%load static%}
{%block title%}
<title>Friend of Farmer | Điều khoản sử dụng</title>
{% endblock title%}
{% block head %}
  <link rel="stylesheet" href="{% static 'Manage/CSS/dksd.css' %}">
{% endblock head %}



{%block content_dksd%}
<section>
    <div class ="dksd_container container">
        <div class = "dksd_container container_top">
            <div class ="topText">
                <div class="txt_headingTxt"> 
                    <p class = "spe"> Điều khoản sử dụng <p>
                    
                    <ol>
                        <li class="txt_subHeadingTxt">Tuân thủ pháp luật
                            <p class="txt_content">
                                Người dùng phải tuân thủ tất cả các luật lệ và quy định pháp lý khi truy cập và sử dụng trang web.
                            <p>
                        </li>
                        <li class="txt_subHeadingTxt">Quyền sở hữu trí tuệ
                            <p class="txt_content">
                                Tất cả nội dung, hình ảnh, logo và bản quyền trên trang web là tài sản trí tuệ của trang web và được bảo vệ bởi luật bản quyền.
                            </p>
                            <p class="txt_content">
                                Không được sao chép, phân phối hoặc sử dụng nội dung từ trang web mà không có sự đồng ý từ trang web.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Bảo mật và thông tin cá nhân
                            <p class="txt_content">
                                Trang web cam kết bảo vệ thông tin cá nhân của người dùng và sử dụng nó chỉ cho mục đích đã được thông báo.                            </p>
                            <p class="txt_content">
                                Người dùng có quyền truy cập, chỉnh sửa hoặc xóa thông tin cá nhân của mình từ trang web.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Nội dung người dùng
                            <p class="txt_content">
                                Người dùng không được đăng, truyền tải hoặc chia sẻ nội dung vi phạm pháp luật, đạo đức hoặc các điều khoản của trang web.
                            </p>
                            <p class="txt_content">
                                Trang web có quyền loại bỏ hoặc chỉnh sửa nội dung người dùng mà không cần thông báo trước.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Ngừng cung cấp dịch vụ
                            <p class="txt_content">
                                Trang web có quyền tạm ngừng hoặc chấm dứt cung cấp dịch vụ cho người dùng vi phạm các điều khoản sử dụng.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Thay đổi điều khoản
                            <p class="txt_content">
                                Trang web có quyền thay đổi hoặc cập nhật các điều khoản sử dụng mà không cần thông báo trước.
                            </p>
                            <p class="txt_content">
                                Người dùng nên xem xét và kiểm tra các điều khoản mới khi truy cập trang web.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Miễn trừ trách nhiệm
                            <p class="txt_content">
                                Trang web không chịu trách nhiệm đối với các lỗi, gián đoạn hoặc mất mát dữ liệu do lỗi kỹ thuật, virus hoặc các nguyên nhân khác ngoài tầm kiểm soát của trang web.
                            </p>
                        </li>
                        <li class="txt_subHeadingTxt">Liên kết đến trang web của bên thứ ba
                            <p class="txt_content">
                                Trang web không chịu trách nhiệm về nội dung hoặc chính sách bảo mật của các trang web liên kết đến.
                            </p>
                            
                        </li><li class="txt_subHeadingTxt">Hủy tài khoản
                            <p class="txt_content">
                                Người dùng có quyền hủy tài khoản và ngừng sử dụng dịch vụ của trang web bất kỳ lúc nào.
                            </p>
                            <p class="txt_content">
                                Các khoản phí đã thanh toán trước đó không được hoàn trả.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
</section>

{%endblock content_dksd%}