{% extends "Manage/base.html" %}
{% load static %}
{%block title%}
<title>Friend of Farmer | Quản lý</title>
{% endblock title%}
{% block head %}
  <link rel="stylesheet" href="{% static 'Manage/CSS/m_form.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css">
{% endblock head %}

{% block form %}

<section class="manage section container">
	<div class="row">
		<div class="col manage__overall" >
			<button class="my-btn" style="width: 50px;" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#season__man" aria-controls="offcanvasExample">
			  <i class="fa fa-bars"></i>
			</button>
	  
			<div class="offcanvas offcanvas-start season" tabindex="-1" id="season__man" aria-labelledby="offcanvasExampleLabel">
			  	<div class="offcanvas-header season__header">
					<h5 class="offcanvas-title" id="offcanvasExampleLabel">MÙA VỤ GIEO TRỒNG</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			  	</div>
			  	<div class="offcanvas-body">
					<div class="off__text">
				  		Chứa tất cả những thông tin về tất cả các mùa vụ đã gieo trồng.
					</div>
					<div class="dropdown mt-3">
					{% for item in season %}
						<button class="my-btn modify season-button" data-season-id="{{ item.id }}" onclick="ClickSeason(event); ClickLand(event)">
						{{ item.season_name }}
						</button>
					{% endfor %}
		
						<button class="click" style="margin-top: 2rem;" id="click1" onclick="location.href='{% url 'create' %}'">
							THÊM VỤ MÙA
						</button>
						<button class="click" onclick="location.href='{% url 'land' %}'">
							THÊM ĐẤT ĐAI
						</button>
						<button class="click" onclick="location.href='{% url 'plant' %}'">
							THÊM CÂY TRỒNG
						</button>
						
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<form action="" method="post">  
		{% csrf_token %} 
		<p>THÔNG TIN MÙA VỤ</p>
		<label for="name">Nhập tên mùa vụ:</label>
		<input type="text" name="name" id="name">

		<label for="time_s">Thời gian bắt đầu: </label>
		<input type="date" name="time_s" id="time_s">

		<label for="time_e">Thời gian kết thúc: </label>
		<input type="date" name="time_e" id="time_e">

		<label for="num">Lợi nhuận mong muốn: </label>
		<input type="number" name="num" id="num">

		<button class="my-btn" id="createFirstB">
		TẠO MÙA VỤ
		</button>
	</form>

</section>

{% if user.is_authenticated %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>
<script>
	function startTour() {
		if (localStorage.getItem('doneTourmform') === 'yes') {
			// Tour đã được hoàn thành trước đây; không hiện tour
			return;
		}

		var intro = introJs();
		intro.setOptions({
			showProgress: true,
			showBullets: false,
			steps: [
        {
          element: document.querySelector('.manage'),
          intro: 'Điền đầy đủ thông tin vào đây'
        },
        {
          element: document.querySelector('#createFirstB'),
          intro: 'Click để tạo'
        }
			]
		});

		intro.oncomplete(function() {
			// Khi người dùng nhấn "Done", set giá trị trong localStorage
			localStorage.setItem('doneTourmform', 'yes');
		});

		intro.onexit(function() {
			// Cũng set giá trị khi người dùng thoát ra khỏi intro
			localStorage.setItem('doneTourmform', 'yes');
		});

		// Khởi tạo tour
		intro.start();
	}

	// Kiểm tra trạng thái tour khi trang được tải
	window.onload = function() {
		if (localStorage.getItem('doneTourmform') !== 'yes') {
			localStorage.setItem('doneTourmform', 'no');
			startTour();
		}
	};
</script>
{% endif %}

{% endblock form %}