{% extends "Manage/base.html"%}
{% load static %}
{%block title%}
<title>Friend of Farmer | Tìm kiếm Thị trường</title>
{% endblock title%}
{% block head %}
<link rel="stylesheet" href="{%static 'Manage/CSS/maker_sell.css'%}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.min.css">
{% endblock head %}
{% block content %}
		<!-- SEARCH BOX  -->
		<section class="finding container section">
			<div class="row find__row my-3">
				<div class="col-8 f_col8">
					<h3>TÌM KIẾM THỊ TRƯỜNG TIÊU THỤ NÔNG SẢN</h3>
					<p>Hãy cho chúng tôi biết nông sản cùng với nơi bạn muốn bán nông sản. Chúng tôi sẽ tìm giúp bạn!</p>
					<p style="color:#609966; font-weight: bold; margin-top: 1rem;">Bạn đang ở chế độ thương lái</p>
				</div>
				<div class="col-4 f_col4" >
					<div class="seller__mode f_btn" onclick="location.href='{%url 'maker'%}'">
						<p><i class="fa fa-user-alt"></i>&nbsp;Farm Mode</p>
					</div>
					<div class="farm__mode f_btn">
						<p><i class="fa fa-users"></i>&nbsp;Sell Mode</p>
					</div>
				</div>
			</div>
			{% if customer.type_user == 'Thương lái' %}
			<div class="find__box">
				<form action="" method="post"> <!-- Sửa action thành "#" -->
					{% csrf_token %} <!-- Thêm token csrf -->
					<input type="text" name="ten_caytrong" id="Nongsan" placeholder="Nông sản muốn mua" required style="uppercase;" oninput="this.value = this.value.toUpperCase()">
					<input type="text" name="ten_thitruong" id="Nongsan" placeholder="Tên thị trường" required style="uppercase;" oninput="this.value = this.value.toUpperCase()">
					<input type="text" name="gia" id="Thitruong" placeholder="Mức giá đề xuất" required>
					<textarea name="mota" id="" cols="30" rows="10" placeholder="Thông tin mô tả" required></textarea>
					<button id="submitButton" type="submit">SUBMIT</button>
					{% if messages %}
					{% for message in messages %}
					<section class="result container section">
						<div class="result__box">
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
						</div>
					</section>
					{% endfor %}
					{% endif %}
					
                                    
                    
				</form>
				
			</div>		
		</section>
	
		<!-- RESULT  -->
		
		{%else%}
		<p class = "error">BẠN KHÔNG CÓ QUYỀN SỬ DỤNG TÍNH NĂNG NÀY.</p>
		{%endif%}
		
		<!-- REGISTER  -->
		<section class="feedback container-fluid section">
			
			
				<div class="row feed__row">
					<div class="col-6 fe__col6__1 ">
						<h3>TRỞ THÀNH MẢNH GHÉP CỦA HỆ THỐNG FOF</h3>
						<p>Hãy đăng ký ngay tài khoản của bạn với chúng tôi để nhận được những thông báo cũng như những dịch vụ
							tuyệt vời nhất từ chúng tôi.</p>
						<div class="feed__form">
							<form action="">
								<input type="email" placeholder="Nhập địa chỉ email">
								<button class="my-btn my-3">Đăng ký</button>
							</form>
						</div>
					</div>
					<div class="col-6 fe__col6 bg">
						<div class="overplay"></div>
					</div>
				</div>
		</section>
		<script>
			// Ẩn thông báo messages sau 5 giây
			setTimeout(function() {
				var messages = document.getElementsByClassName('result__box');
				if (messages.length > 0) {
					messages[0].style.display = 'none';
				}
			}, 5000);
		</script>

			{% if user.is_authenticated %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js"></script>
			<script>
				function startTour() {
					if (localStorage.getItem('doneTourMakerSell') === 'yes') {
						// Tour đã được hoàn thành trước đây; không hiện tour
						return;
					}
			
					var intro = introJs();
					intro.setOptions({
						showProgress: true,
						showBullets: false,
						steps: [
							{
								intro: 'Đây là nơi bạn đánh giá thị trường và đưa ra yêu cầu của mình'
							},
							{
								element: document.querySelector('.find__box'),
								intro: 'Điền yêu cầu của bạn vào đây'
							},
							{
								element: '#submitButton',
								intro: 'Click để gửi yêu cầu'
							}
						]
					});
			
					intro.oncomplete(function() {
						// Khi người dùng nhấn "Done", set giá trị trong localStorage
						localStorage.setItem('doneTourMakerSell', 'yes');
					});
			
					intro.onexit(function() {
						// Cũng set giá trị khi người dùng thoát ra khỏi intro
						localStorage.setItem('doneTourMakerSell', 'yes');
					});
			
					// Khởi tạo tour
					intro.start();
				}
			
				// Kiểm tra trạng thái tour khi trang được tải
				window.onload = function() {
					if (localStorage.getItem('doneTourMakerSell') !== 'yes') {
						localStorage.setItem('doneTourMakerSell', 'no');
						startTour();
					}
				};
			</script>
			{%endif%}

{% endblock content %}
